
top.kicad_pcb-bak
top.kicad_pcb-bak
top_gerb/top-B_Cu.gbr
top_gerb/top-B_Mask.gbr
top_gerb/top-B_Paste.gbr
top_gerb/top-B_SilkS.gbr
top_gerb/top-Edge_Cuts.gbr
top_gerb/top-F_Cu.gbr
top_gerb/top-F_Mask.gbr
top_gerb/top-F_Paste.gbr
top_gerb/top-F_SilkS.gbr
top_gerb/top-NPTH.drl
top_gerb/top-PTH.drl
bottom.kicad_pcb-bak
bottom_gerb/bottom-B_Cu.gbr
bottom_gerb.zip
bottom_gerb/bottom-B_Mask.gbr
bottom_gerb/bottom-B_Paste.gbr
bottom_gerb/bottom-B_SilkS.gbr
bottom_gerb/bottom-Edge_Cuts.gbr
bottom_gerb/bottom-F_Cu.gbr
bottom_gerb/bottom-F_Mask.gbr
bottom_gerb/bottom-F_Paste.gbr
bottom_gerb/bottom-F_SilkS.gbr
bottom_gerb/bottom-NPTH.drl
bottom_gerb/bottom-PTH.drl
top_gerb.zip
